.container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}

.current {
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.current button {
  margin-left: 2em;
}

.dropdown div li {
  list-style: none;
  text-align: center;
}

.clans {
  padding: 0.5em;
}

.clans:hover {
  cursor: pointer;
  background-color: beige;
}

.hidden {
  display: none;
}

.clanMembersTitle {
  text-align: center;
  padding: 0;
  font-weight: bold;
}

.clanMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0.5em;
  gap: 1em;
}
