.dropdown {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid black 0.1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.current {
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.current button {
  margin-left: 2em;
}

.dropdown div li {
  list-style: none;
  text-align: center;
}

.clans {
  padding: 0.5em;
}

.clans:hover {
  cursor: pointer;
  background-color: beige;
}

.hidden {
  display: none;
}

.clanMembersTitle {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}

.clanMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 1em;
  gap: 1em;
}

.dialogcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
