.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 100vw;
  background-color: white;
  font-size: 1.4em;
  padding: 0;
  z-index: 100;
}

.unordered {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 0;
  margin-block: 0;
  margin-inline: 2em;
}

.unordered li {
  cursor: pointer;
}

.username {
  font-weight: bolder;
  align-self: flex-end;
}

.signOut {
  background-color: white;
  padding: 0.5em 0;
  overflow: hidden;
  cursor: pointer;
  text-align: end;
  font-weight: bold;
}

.hidden {
  display: none;
}
