.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--font-color);
  color: var(--bg-color);
  font-size: 1.4em;
  padding: 0;
  z-index: 100;
}

.unordered {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 0;
  margin-block: 0;
  padding: 0 0.5em;
  gap: 1em;
}

.unordered div {
  cursor: pointer;
}

.username {
  font-weight: bolder;
  align-self: flex-end;
}

.hidden {
  display: none;
}

.gearbox {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.removeMember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x {
  font-size: 1.3em;
  cursor: pointer;
}
