.navbar {
  background-color: white;
  font-size: 1.4em;
  padding: 0 1em;
  padding-top: 0.3em;
}

.unordered {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-block: 0;
  margin-inline: 0;
}

.unordered li {
  cursor: pointer;
}

.username {
  font-weight: bolder;
  align-self: flex-end;
}

.signOut {
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  text-align: end;
  font-weight: bold;
  max-height: 0;
  padding-bottom: 0.14em;
  transition: max-height 0.5s ease; /* Set your preferred transition duration and timing function */
}

.visible {
  max-height: 4em; /* Set the maximum height you want */
}
