.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  background-color: var(--background);
}


.home {
  position: relative;
  top: 2em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 50em;
  width: 100%;
}