.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 2em;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: var(--border-radius);
}

.form input {
  border: none;
  padding: 10px 20px;
  margin: 0 0.5em;
  font-size: 16px;
}

.p {
  align-self: center;
  font-size: 2em;
  user-select: none;
}