.form {
  position: relative;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: solid var(--border-color) 0.1em;
  border-radius: 0.5em;
  padding: var(--padding);
  margin: var(--margin);
  max-width: 50em;
}

.title {
  align-self: center;
}

.expand {
  background-color: var(--bg-color);
  color: var(--font-color);
  cursor: pointer;
  border: solid var(--border-color) 0.1em;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin: var(--margin);
  max-width: 50em;
  text-align: center;
}

.expand:hover {
  background-color: var(--accent-color);
}

.collapse {
  cursor: pointer;
}

.collapse:hover {
  color: var(--accent-color);
}

.container {
  display: flex;
  justify-content: space-between;
}
