.authform {
  margin-top: 2em;
  background-color: white;
}

.p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  color: #fc9929;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: unset;
}

.registrationStatus {
  text-align: center;
  font-size: 1.2em;
  animation: bulge 1s;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
