.authform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  color: #fc9929;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: unset;
}
