.container {
  display: flex;
  justify-content: space-between;
  border: 0.1em solid black;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
}

.container:hover {
  scale: 1.001;
}

.amount {
  font-size: 1.5em;
  align-self: center;
}

.expenseDialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expenseDialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
