.container {
  background-color: white;
  color: black;
  border: 0.1em solid black;
  border-radius: 0.5em;
  margin: var(--margin);
  padding: var(--padding);
}

.info {
  display: flex;
  justify-content: space-between;
}

.owed {
  font-weight: bold;
  font-size: 2em;
}

.owedText {
  opacity: 70%;
  font-size: 0.45em;
  text-align: center;
}