.container {
  background-color: white;
  border: 0.1em solid black;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.info {
  display: flex;
  justify-content: space-between;
}

.owed {
  font-weight: bold;
  font-size: 2em;
}